[AD]
host=1.2.3.4
bind_user=administrator@example.com
bind_password=Thisisverysecurepassword
search_tree=dc=example,dc=com

[OUT]
generic=/etc/postfix/generic_ldap
relayhost=/etc/postfix/relayhost_ldap
saslpass=/etc/postfix/saslpass_ldap

[SMTPACCOUNT1]
ldap_group=CN=smtp_account1_mail_ru,DC=example,DC=com
smtp_user=account1@mail.ru
smtp_password=thisissmtppassword
smtp_server=smtp.mail.ru
smtp_port=587

[SMTPKRD]
ldap_group=CN=smtp_account2_mail_ru,DC=example,DC=com
smtp_user=account2@mail.ru
smtp_password=thisissmtppassword
smtp_server=smtp.mail.ru
smtp_port=587